# Python
__pycache__/
*.pyc
.venv/
venv/
env/
env-311/

# Sensitive Files
.env
.env.example

# Node.js
/node_modules/
/frontend/dist/
/frontend/build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code Folder
.vscode/

# Intermediate Datasets
/datasets/master_dataset_temp.csv
/datasets/master_dataset_final.csv

# OS specific
.DS_Store
Thumbs.db
